@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --breakpoint-xs: 33.125rem;
}

.prose pre {
    max-width: 100%;
    overflow-x: auto;
}
