/*
--light-green #c7fba5
--green        #adf182
--purple       #916cad
--dark-purple  #523874
--magenta      #dc7d68 
walkman color: #616a72
--text-main    #f2e7e6
off white ish  #eaedf1
unit01         #735893
*/

@font-face {
    font-family: eva-matisse;
    src: url(../assets/EVA-Matisse_Standard.ttf) format("truetype");
}
@font-face {
    font-family: Digital-Display;
    src: url(../assets/DigitalDisplayRegular-ODEO.ttf) format("truetype");
}
body {
    /* font-family: 'eva-matisse'; */
    font-family: 'Inter';
    /* color: white; */
    color: rgba(149, 249, 227, 0.95);
    /* background-color: #0f0816; */
    /* background: linear-gradient(to bottom right, #0f0816, #1e112b); */
    background: linear-gradient(to bottom right, #DC7268, #183A37);
    margin: 0px; 
    font-size: min(19px, 1vw); 
    min-height: 100vh;
    /* overflow-x: hidden; */
}
.content-item-header {
    color: rgba(149, 249, 227, 0.9);
    margin-top: .2vw; 
    margin-bottom: .4vw; 
    font-size: 1.2em;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    font-style: semibold;
}
.section-title{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: semibold;
    margin-bottom: 4px; 
}
.content-item-text {
    color: rgba(149, 249, 227, 0.85);
}
h1 {
    font-family: 'eva-matisse';
}
.title-color {
    /* color:#dc7d68; */
    color: rgb(204, 250, 240);
    /* color: rgb(149, 249, 227); */
    /* color: white;  */
}
#main {
    display: flex;  
    padding-left: max(70px, 15%); 
    padding-right: max(70px, 15%);
    flex-direction: row;
    /* background-color: blue; */
    align-items: stretch;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
    min-height: calc(100vh - 80px);
    top: 0px; 

}
.big {
    background-color: inherit;
    /* border: solid 3px #735893; */
    width: 100%;
    padding: 20px; 
    /* width: 90%-3px;
    height: 90%-3px; */
    padding-left: 35px; 
    padding-right: 35px; 
    /* margin-right: 50%; 
    margin-left: 20%; */
    position: sticky; 
    max-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    position: sticky;
    position: -webkit-sticky;
    top: 10px; /* required */
    /* overflow-y: auto; */
    padding-top: 3vh; 
}
.content {
    background-color: inherit;
    /* border: solid 3px #735893;  */
    width: 100%;
    width: 90%-3px;
    height: 90%-3px;
    padding: 35px; 
    padding-top: 60px;
    padding-bottom: 50vh;
    display: flex;
    flex-direction: column;
}
#name {
    /* font-size: 3em;  */
    font-size: 3vw; 
    margin-top: 1.8vw; 
    margin-bottom: 1.8vw;
}
#icons{
    display: flex;
    align-items: flex-end; 
    justify-content: flex-start;
    column-gap: 5%;
    margin-bottom: 2vw; 
}
.sm-icon {
    width: 2.5vw; 
    height: 2.5vw;
    fill: rgb(204, 250, 240);
}
.audio-media-container{
    max-width: 100%; 
    min-width: 100%;
    /* height: 100%;  */
    /* background-color: red; */
    /* margin-top: auto;  */
    max-height: 50vh;
    /* overflow: visible; */
    width: 100%;
    height: auto;
    justify-content: center;
    align-items: center;
}
#walkwoman { 
    position: relative;
    right: 43%; 
    /* right: 35%;  */
    max-height: 50vh;
}
#buttons-div{
    color: rgb(204, 250, 240);
    display: flex;
    flex-direction: row;
    column-gap: 0.7vw;
    margin-top: -20px;
    width: 15vw; 
    justify-content: flex-start;
}
.copy-text {
    font-size: min(0.75vw, 15px);
    color: rgb(204, 250, 240);
    /* align-self: baseline; */
    bottom: 0px;
    margin-top: auto;
}
.action-button {
    width: fit-content;
    padding: 2.5px 10px 2.5px 10px;
    background-color: transparent;
    color: rgb(204, 250, 240);
    border: rgb(204, 250, 240) solid 2.5px; 
    margin-top: 2vw;
    border-radius: 10px;
    font: inherit; 
    /* font-size: 1.25vw; */
    font-size: 1vw;
}
.skip-button {
    padding: 1px 7px 1px 7px;
}
.svg-skip {
    margin: auto; 
    fill: rgb(204, 250, 240);
    width: 1.5vw; 
    height: 1.5vw;
}
.action-button {
    position: relative;
    overflow: hidden;;
}

.action-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(204, 250, 240);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: top;
    transition: transform 0.3s ease;
}

#right-skip-svg::before {
    transform-origin: left;
}
#left-skip-svg::before {
    transform-origin: right;
}

.action-button:hover::before {
    transform: scaleX(1);
}

.action-button:hover {
    color: #DC7268;
}

.action-button:hover svg {
    fill: #DC7268;
}

.action-button span {
    position: relative;
    z-index: 1;
}
.item {
    /* margin-left: 1vw;  */
    padding: 0.5vw 1vw 1vw 1.3vw; 
    border-radius: 10px;
}
.date {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
    color: rgba(149, 249, 227, 0.75);
}
.content-item-topbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
.slider {
    -webkit-transition-duration: 0.75s;
    transition-duration: 0.75s;
}
.pdf-container iframe {
    width: 100%;
    height: 100%;
    border: none;
  }
#resume {
    display: block;
    width: 100%;
    height: 85vh; /* Try using the full viewport height */
    margin: 0;
    padding-bottom: 1vh;
}
  
#resume iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
}

body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
body::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

.disk{
    max-width: 25vw;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    margin: auto; 
}
#umd{
    max-width: 13.33vw; 
}
#cubegame{
    max-width: 16.67vw; 
}
#disk-container{
    height: 25vw; 
    width: 25vw;  
    display: table-cell; vertical-align: middle;
}
.disk-anim-group {
    -webkit-transition-duration: 10s;
    transition-duration: 10s;
}